<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div class="first">
            <ul>
                <li class="innerbox"></li>
                <li class="innerbox"></li>
                <li class="innerbox"></li>
                <li class="innerbox"></li>
                <li class="innerbox"></li>
            </ul>
            <div class="captain">
                <div class="js"></div>
            </div>
            <div class="passage">
                <p class="heading">
                    <span class="note"></span>
                </p>
            </div>
        </div>
        <div class="second">
            <div class="insideSec"></div>
        </div>
        <div class="third">
            <p class="heading">
                innerText
            </p>
        </div>
    </div>
    <div id="root">
        
    </div>
    <script src="./index.js"></script>
</body>
</html>