@mixin nav-li{
    list-style: none;
    font-size:0;
    li{
        &:hover{
            background-color:#c9c9c9;
            border-bottom:1px solid #999;
        }
        display: inline-block;
        font-size: 1rem;
        a{
            text-decoration: none;
        }  
    }
}
.homepage{
    width:80%;
    height:1000px;
    margin:0 auto;
    background-color:#ccc;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 16px;
    ul.nav{
        @include nav-li;
    }
    >div{
        border:1px solid transparent;
        &:hover{
            box-shadow: 0 3px 5px #FFF
                        0 -3px 5px #FFF
                        3px 0 5px #FFF
                        -3px 0 5px #FFF;
        }
    }
    .links{
        flex-grow: 1;
        ul{
            @include nav-li
        }
    }
    .home{
        flex-grow: 3;
    }
}